*.d
*.o
*.a
*.out
*.swp
tags
build
UNIT_*
core
core.*
.DS_Store
cscope.files
cscope.out
*.so
*.aux
*.pdf
*.toc
*.gz
*.log
*.pyc
*.elf
*.gcov
*.gcda
*.gcno
*.expand
*.pcap
.ycm_extra_conf.py
.clang_complete
