before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -y vde2 check libvdeplug2-dev libpcap-dev psmisc
    - sudo pip install cpp-coveralls
    - make clean
    - rm -f *.gc*

install: make GCOV=1 && make units ARCH=faulty GCOV=1 && make test GCOV=1
language: c
script: 
    - ./test/coverage.sh
after_success: 
    - coveralls --exclude test/ --exclude modules/ptsocket --exclude build  --exclude modules/pico_dev_mock.c  --exclude modules/pico_dev_null.c  --exclude modules/pico_dev_pcap.c  --exclude modules/pico_dev_tap_windows.c  --exclude modules/pico_dev_tun.c  --gcov-options='\-lp'
