<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <section class="page-header">
       <img src="assets/images/logo.png" alt="logo"  style"max-width: 100%;;
    height: auto;">
      <h2 class="project-tagline">Supporting your Internet of Things</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        <a href="mailto:picotcp.belgium@altran.com" class="btn">Help me build a Connected Device</a>
      {% endif %}
    </section>

    <section class="main-content">

      <h1 id="picotcp"><strong>picoTCP</strong></h1>

  <p>picoTCP is a small-footprint, modular open-source TCP/IP stack designed for embedded systems and the Internet of Things. It has been developed by <em>Altran Intelligent Systems</em> and is available under a GPL or proprietary license.</p>

<h1 id="features"><strong>Features</strong></h1>

<!--
  <div class="responsive-container">

      <div>
      </div>

      <div>
      </div>

      <div>
      </div>
  </div>
-->

        <h3 id="modularity"><span class="fa-stack fp-icons"><i class="fa fa-sitemap fa-stack-2x"></i></span><a href="#header-3"></a>&nbsp;<strong>Modularity</strong></h3>
  <p>Each component of the stack is contained in a separate module, allowing the user to select at compile time what needs to be included for any specific platform. This allows you to free up memory and resources, which are often mission-critical for a project.</p>

        <h3 id="portability"><span class="fa-stack fp-icons"><i class="fa fa-cogs fa-stack-2x"></i></span><a href="#header-3"></a>&nbsp;<strong>Portability</strong></h3>
  <p>The provided API’s are lightweight, well documented and give you access to the librarie's features, both from the applications and from the device drivers point of view. The APIs facilitate the integration with the surroundings and minimize the time needed to integrate the stack with existing code.</p>
      
          <h3 id="quality"><span class="fa-stack fp-icons"><i class="fa fa-certificate fa-stack-2x"></i><i class="fa fa-check fa-stack-1x fa-inverse"></i></span><a href="#header-3"></a>&nbsp;<strong>Production Grade Quality</strong></h3>
  <p>picoTCP guarantees production grade quality by applying extensive unit tests, functional tests, a whole range of RFC compliance tests, together with static and dynamic code analysis.</p>


  <p>Want to learn more? Head over to <a href="https://github.com/tass-belgium/picotcp/blob/master/README.md">GitHub</a><br />
    Do you want to make your hands dirty with some code? Learn how to use picoTCP in your project by going through the <a href="https://github.com/tass-belgium/picotcp/wiki">Getting Started guide</a> on our GitHub wiki.</p>

<h2 id="connected-devices"><strong>Connected Devices Services</strong></h2>
  <p>picoTCP is an important part of Altran Belgium's <i>connected devices</i> engineering services, that provides an answer to the Internet of Things challenges. Does your new products need connectivity, either to communicate with each other, an end-user or to your business applications? <a href="mailto:picotcp.belgium@altran.com">Let us help you with our expertise</a>!</p>

  <p>Any (connected) device typically needs some of below expertise areas which we cover with our services:</p>

  <h4 id="connecting"><img src="assets/images/computer-cpu.png" alt=""> <strong>Connecting Devices</strong></h4>
  <p>The core of the challenge. Which technologies are suitable for your product? What's the best topology for your network? Which cloud infrastructure do you want to integrate with? What protocol to use and how to implement it on your device? Whether existing or new products/devices, Altran can assist you in every step.</p>

  <h4 id="improving"><img src="assets/images/key.png" alt=""> <strong>Improving Devices</strong></h4>
  <p>Some devices only have to transmit sensor values, while others perfom local processing and possibly even local decision making. Device intelligence might be optional, but security, safety and reliability are not. With +30 years of experience in embedded software, we've grown to be the experts you need.</p>

  <h4 id="optimizing"><img src="assets/images/profits.png" alt=""> <strong>Optimizing Delivery</strong></h4>
  <p>When building software for potentially thousands of devices, reliable and efficient software delivery is essential. We can optimize your software processes and methodologies, set up a hardware-in-the-loop test automation framework and assist you in continuous software delivery.</p>

  <h2 id="about-altran"><strong>About Altran</strong></h2>

  <p>As a global leader in Engineering and R&amp;D services (ER&amp;D), Altran offers its clients a new way to innovate by developing the products and services of tomorrow. Altran works alongside its clients on every link in the value chain of their project, from conception to industrialization.

  <p>For over thirty years, the <a href="http://altran.be">Altran Group</a> has provided its expertise to key players in the Aerospace, Automotive, Defence, Energy, Finance, Life Sciences, Railway, and Telecoms sectors, among others. 


      <footer class="site-footer">
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
